*.jl.cov
*.jl.*.cov
*.jl.mem

*debug*
*previous*
syslog
*.log
*.txt
*.csv

*.json
*.xml
*.data
*.model
*.ods
*.xls
*.xlsx
*.jdl
*.spmf
*.prefixspan
*.regex
*.desq
*.huem
*.em
*.ses
*.ces
*.zip
*tar*
*.gz
*.7z
*.gz2
*.bin
*.jld
*.bson

*.png
*.svg
*.jpg
