*.jl.cov
*.jl.*.cov
*.jl.mem

*debug*
*previous*
*.log
*.txt
*.csv
*.json
*.xml
*.data
*.model
*.ods
*.jdl
*.spmf
*.prefixspan
*.regex
*.desq
*.huem
*.em
*.ses
*.ces
*.zip
*tar*
*.gz
*.7z

*.png
*.svg
*.jpg
